#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.info-panel {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 300px; /* Panel szélessége */
/*  height: 100%;*/
  background-color: white; /* Legyen fehér háttere, hogy kitakarja a térképet */
  z-index: 2; /* Legyen a térkép és a sidebar felett */
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Finom árnyék */
  border-radius: 8px;
  
  /* Alapból a képernyőn kívül van (jobbra) */
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
  box-sizing: border-box;
  color: #333;
}

/* Ha megkapja az 'open' osztályt, becsúszik a helyére */
.info-panel.open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.info-panel h2 {
  margin-top: 10px;
  color: #000;
}

/* Bezárás gomb stílusa */
.info-panel-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.info-panel-close:hover {
  color: #000;
}